body {
    background-image: url("/img/bar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgb(255, 255, 255); 
    padding: 10px;
    border-radius: 5px; 
    text-align: center;
    margin: 10px 0;
}
h1{
	text-align: center;
}
