<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyTechShop - View Item</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<div class="jumbotron">
    <h1 class="display-4">Welcome to MyTechShop!</h1>
    <p class="lead">Your one-stop shop for all tech goods.</p>
</div>

<h2>Available Items</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity Left</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            
        </tr>
    </tbody>
</table>

</body>
</html>
