<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/root.css">

</head>
<body>
	<h1> Home Page </h1> 
	
	    <div class="container">
<a href="/add">Link To Add Page</a>
	
<a href="/view">Link To View Page</a>
    </div>
<div sec:authorize="isAuthenticated()"> 

	User's Name: <span sec:authentication="name"></span> <br>
	Roles: <span sec:authentication="principal.authorities"></span> <br>
	<br><br>
	
	
	

	<form th:action="@{/logout}" method="POST"> 
		<input type="submit" value="Logout">
	</form>
	
</div>

	
</body>
</html>