<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manh Phu Giang</title>
<link th:href="@{/css/root.css}" rel="stylesheet">
</head>
<body>

        <div id="background-element">
            <div class="title">
                <h1>Intel Free Gaming Computer For Everyone Event</h1>
            </div>



            <div class="location">
                <h1>Location : Davis Campus</h1>
                <h2> Open All Day For All Age</h2>
            </div>



            <div class="above-banner-container">
                <div class="above-banner-box left-above-banner-box">
                    <p><a href="/add" method="get">Get The Ticket </p>
                </div>
                <div class="above-banner-box right-above-banner-box">
                    <p>Feburary 30, 2024</p>
                </div>
            </div>
    


            <div class="banner">
            </div>
        </div>

    
</body>
</html>