<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
	
<body>
<h1>Welcome back</h1>
 <br>
		<form action="/print" method="get">

			Name: <input type="text" name="studentname" required> <br><br>
		Student ID: <input type="number" name="id" required> <br><br>
		
		List Of Course Enrolled: <br>	1. <input type="text" name="one"><br>
		2. <input type="text" name="two"><br>
		3. <input type="text" name="three"><br>
		4. <input type="text" name="four"><br><br>
		Co-op: <input type="checkbox" name="coop"/><br>
		Full time Student: <input type="checkbox" name="fulltime"/><br>
		Paid Tuition: <input type="checkbox" name="paid"/><br><br>

		<input type="submit" value="Submit">
		
		
		
	
</body>
</html>