body {
    background-color: #f2f2f2;
        background-image: url('/img.jpg');

}
h1 {
    color: #333;
    text-align: center;
        background-color: #f2f2f2;
    width: 50%;
        margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
        background-color: #f2f2f2;

}

th, td {
    padding: 8px;
    text-align: left;
}


a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.edit-link, .delete-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}

.edit-link:hover, .delete-link:hover {
    background-color: #0056b3;
}
a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}
div{
	background-color: antiquewhite;
}