h1{
	text-align: center;
	background-color: #f2f2f2;
}
body{
    background-image: url('/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 128, 255);
    width: fit-content;
    margin: 0 auto; 
}

form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #f2f2f2;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

a{
	font-size: large;
    display: inline-block;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}