<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<h1>
    Add Game
</h1>
<body>                   


    <form th:action="@{/add}" method="post" th:object="${videogame}">
        Title: <input type="text" th:field="*{title}" required> <br><br>
        Price : <input type="number" step="0.1" th:field="*{price}"  required> <br><br>
        Number of Player: <input type="number" th:field="*{numPlayers}" ><br><br>
        Console: <select th:field="*{console}">

        <option th:each ="c : *{consoles}" th:text="${c}" th:value="${c}">

        </select>
        <br>
        <input type="submit" value="Submit">
        </form>
<a href="/view">Link To View Page</a>

</body>
</html>