<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/css/viewMusic.css}" rel="stylesheet">


</head>
<body>
	
	<h1> Music List </h1>

<table border="1">
    <tr> 
        <th>Title </th>
        <th>Genre </th>
        <th>Artist </th>
        <th> Run times </th>
    </tr>
<tr th:each="game: ${goodMusic}">
    <td th:text= "${game.title}"></td>
    <td th:text= "${game.genre}"></td> 
    <td th:text= "${game.artist}"></td> 
    <td th:text= "${game.runTimes}"></td> 
</tr>

<a href="/add">Link To Add Page</a>

</table>
</body>
</html>