<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Insert title here</title>
  </head>
  <body>
    <h1>Please Enter Your Student Infomation</h1>

<form action="/print" method="get">

	Name: <input type="text" name="name" required> <br> <br>
	Student ID: <input type="number" name="id" required><br><br>
	Program: <input type="text" name="program" required><br><br>
	Grade: <input type="number" name="grade" required><br><br>
	Full time Student: <input type="checkbox" name="fulltime"/><br>

	<input type="submit" value="Submit">

</body>

</html>
