<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>
	Home Page
</h1>

<h1>
Pet Info
</h1>

<form action="/petInformation" method="get">
	
	Name: <input type="text" name="name"> <br>
	Age: <input type="number" name="age"> <br>
	Type: <input type="text" name="type"> <br>
	Price: <input type="number" name="price" step="0.01"> <br>
	Trained: <input type="checkbox" name="trained"><br>
	Gender: Male<input type="radio" name="gender" value="male" checked> 
	Female<input type="radio" name="gender" value="female"> <br>
<input type="submit" value="Add Pet">
	
	
	
</body>
</html>