<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
<link rel="stylesheet" type="text/css" href="/css/addProduct.css">
</head>
<body>
    <h1>Add Product</h1>
    <form th:action="@{/addProduct}" method="post" th:object="${product}">
        <label for="productName">Product Name:</label>

        <input type="text" id="productName" name="productName" required><br>

        <label for="store">Store:</label>

        <select id="store" name="storeName" required>
            <option th:each="store : ${storeNames}" th:value="${store}" th:text="${store}"></option>
        </select>
       
        <br><br>
        <label for="productNumber">Product Number:</label>
        <input type="number" id="productNumber" name="productNumber" required><br>
        <label for="price">Price:</label>
        <input type="number" id="price" step="0.01" name="price" required><br>    
        <br><br>
        <input type="submit" value="Add Product">
    </form>
    
    
    <br><br>
    <a href='/addStore' method='get'> Link To Add Some Store </a>
    <br><br>
    <a href='/view' method='get'> Link To View Product of the Store </a>
    <br><br>
    <a href='/' method='get'> Link Go To Root </a>
    

</body>
</html>
